<div class="news">
    <div class="news__title">
        <img src="../../../assets/hea.png" alt="">
        <span>Tin Tức</span>
    </div>
    <div class="news__content">
        <div class="news__content__left a">
            <div class="news__content__left-contac">
                <h3>[TOM & JERRY: QUẬY TUNG NEW YORK] - Khi các nhân vật hoạt đóng chính trong những bộ phim live-action
                    đình đám: Ai ấn tượng nhất? </h3>
                <p>Thể loại hoạt họa và người đóng (live action) vốn được coi là hai thế giới tách biệt bởi mỗi thể loại
                    sở hữu một cách thức kể chuyện và quy luật thể hiện khác hẳn nhau... </p>
            </div>
            <div class="news__content__left-img">
                <img src="../../../assets/tintuc1.jpg" style="border-radius: 0px 30px 0px 30px;" alt="">
            </div>
        </div>
        <div class="news__content__right b">
            <div class="news__content__right-contac">
                <h3>"Gái già lắm chiêu V" đưa truyền thuyết Mỵ Châu - Trọng Thuỷ vào phim </h3>
                <p>Mới đây, bộ đôi đạo diễn Bảo Nhân & Nam Cito vừa cho đăng tải đoạn first look hoàn chỉnh, có thời
                    lượng lên đến gần 6 phút của dự án "Gái già lắm chiêu V - Những cuộc đời vương giả". </p>
            </div>
            <div class="news__content__right-img">
                <img src="../../../assets/tintuc2.jpg" style="border-radius: 30px 0px 30px 0px;" alt="">
            </div>
        </div>

    </div>
    <div class="news__content">
        <div class="news__content__left b">
            <div class="news__content__left-contac">
                <h3>CINESTAR MỸ THO - TUYỂN QUẢN LÝ CỤM RẠP</h3>
                <p>1. Kiểm tra, giám sát mọi hoạt động diễn ra trong ca làm việc tại Rạp
                    - Tuân thủ, hướng dẫn, điều phối và giám sát việc thực hiện tốt các công việc, cũng như dịch vụ chăm
                    sóc khách hàng của nhân viên PVKH trong ca
                    - Kiểm tra, giám sát các hoạt động của nhân viên trong quá trình bán vé, bán hàng.</p>
            </div>
            <div class="news__content__left-img">
                <img src="../../../assets/tintuc3.jpg" style="border-radius: 30px 0px 30px 0px;" alt="">
            </div>
        </div>
        <div class="news__content__right a">
            <div class="news__content__right-contac">
                <h3>NHÂN VIÊN MARKETING TRƯỞNG PHÒNG</h3>
                <p>- Nhận công việc từ Giám Sát Viên MKT, trưởng phòng Marketing hoặc Ban Giám Đốc.

                    - Phân công và giám sát công việc của các phòng ban có liên quan.

                    - Báo cáo / phản hồi đến Giám Sát Viên và Trưởng phòng Marketing hoặc Ban Giám Đốc</p>
            </div>
            <div class="news__content__right-img">
                <img src="../../../assets/tintuc4.jpg" style="border-radius: 0px 30px 0px 30px;" alt="">
            </div>
        </div>
    </div>
    <div class="news__content">
        <div class="news__content__left a">
            <div class="news__content__left-contac">
                <h3>ĐÀ LẠT – SẮP KHAI TRƯƠNG NHÀ HÁT OPERA HIỆN ĐẠI BẬC NHẤT THÀNH PHỐ NGÀN HOA</h3>
                <p>Là thành phố phát triển về Du Lịch – Văn Hoá hàng đầu của Việt Nam, Đà Lạt tiếp tục phấn đấu đẩy mạnh
                    phát triển và bảo tồn Văn Hóa. DALAT OPERA HOUSE là một trong những dự án trọng điểm của thành
                    phố...</p>
            </div>
            <div class="news__content__left-img">
                <img src="../../../assets/tintuc5.jpg" style="border-radius: 30px 0px 30px 0px;" alt="">
            </div>
        </div>
        <div class="news__content__right b">
            <div class="news__content__right-contac">
                <h3>[AINBO: NỮ CHIẾN BINH AMAZON] - Phim hoạt hình đầy màu sắc và giàu ý nghĩa mở đầu năm mới 2021</h3>
                <p>Phim hoạt hình có nhân vật chính là nàng công chúa từ lâu đã không còn xa lạ. Ngày càng nhiều các tác
                    phẩm kể về công chúa được ra đời, bởi không chỉ tạo hình xinh đẹp khiến khán giả yêu thích mà còn
                    những câu chuyện và bài học quý giá đi sâu vào lòng người...</p>
            </div>
            <div class="news__content__right-img">
                <img src="../../../assets/tintuc6.jpg" style="border-radius: 0px 30px 0px 30px;" alt="">
            </div>
        </div>
    </div>
    <div class="news__content">
        <div class="news__content__center a">
            <div class="news__content__center-contac">
                <h3> LIÊN HOAN PHIM NHẬT BẢN TẠI VIỆT NAM LẦN THỨ 12 </h3>
                <p>Cinestar Hai Bà Trưng hân hạnh đồng tổ chức Liên Hoan Phim Nhật Bản tại Việt Nam lần thứ 12, đặc biệt
                    lần tiếp theo này sẽ trình chiếu 4 bộ phim đến từ xứ sở mặt trời mọc. </p>
            </div>
            <div class="news__content__left-img">
                <img src="../../../assets/tintuc7.jpg" style="border-radius: 0px 30px 0px 30px;" alt="">
            </div>
        </div>

    </div>
</div>