<div class="register">
    <div class="register__left">
        <div class="register__left__signin">
            <ul>
                <li> <img src="../../../assets/icon-register.jpg" alt="register"></li>
                <li>
                    <a routerLink="/admin/signup">Đăng Kí Thành Viên</a>
                </li>
            </ul>
        </div>
        <div class="register__left__signup">
            <ul>
                <li> <img src="../../../assets/icon-fruid.jpg" alt="fruid"></li>
                <li>
                    <a routerLink="/admin/signin">Đăng Nhập</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="register__phone">
        <ul>
            <li> <img src="../../../assets/icon-call.jpg" alt=""></li>
            <li>
                <a href="#">0828 036 016</a>
            </li>
        </ul>

    </div>
</div>
<router-outlet></router-outlet>