<div class="footer">
    <div class="footer__logo">
        <img src="../../../assets/logo.png" alt="" />
    </div>
    <div class="footer__content">
        <div class="footer__content__link a">
            <h2>LIÊN KẾT </h2>
            <ul>
                <div class="footer__content__link-anh">
                    <img src="../../../assets/scl_facebook.jpg" style="margin-right: 5px;" alt="">
                    <img src="../../../assets/scl_youtube.jpg" alt="">
                </div>

                <h2 style="margin-top: 10px;">HOSTLINE </h2>
                <li><a href="#" style="font-size: 30px;">0828 036 016</a></li>

            </ul>
        </div>
        <div class="footer__content__system a">
            <h2>HỆ THỐNG RẠP </h2>
            <ul>
                <li><a href="#"> CineStar Quốc Thanh</a></li>
                <li><a href="#"> CineStar Hai Bà Trưng</a></li>
                <li><a href="#">CineStar Đà Lạt</a></li>
                <li><a href="#"> CineStar Bình Dương</a></li>
                <li><a href="#">CineStar Huế</a></li>
                <li><a href="#">CineStar Mỹ Tho</a></li>
            </ul>
        </div>
        <div class="footer__content__cinestar a">
            <h2>HỆ THỐNG RẠP </h2>
            <ul>
                <li><a href="#"> Phim Đang Chiếu</a></li>
                <li><a href="#"> Phim Sắp Chiếu</a></li>
                <li><a href="#">CineStar Đà Lạt</a></li>
                <li><a href="#">Suất Đặc Biệt</a></li>
                <li><a href="#">Lịch Chiếu</a></li>
                <li><a href="#">Khuyến Mãi</a></li>
            </ul>
        </div>
        <div class="footer__content__info a">
            <h2>THÔNG TIN</h2>
            <ul>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Tin Tức</a></li>
                <li><a href="#">Hỏi Và Đáp</a></li>
                <li><a href="#">Liên Hệ</a></li>

            </ul>
        </div>
        <div class="footer__content__policies a">
            <h2>CHÍNH SÁCH VÀ BẢO MẬT</h2>
            <ul>
                <li><a href="#">Quy Định Chung</a></li>
                <li><a href="#">Điều Khoản Giao Dịch</a></li>
                <li><a href="#">Chính Sách Bảo Mật</a></li>
                <li><a href="#">Thông Tin Công Ty</a></li>

            </ul>
        </div>
    </div>
</div>