.film__select__up {
  .mat-form-field {
    width: 270px;
    mat-label {
      color: white;
    }
  }
}
.film__select__dow {
  .mat-form-field {
    width: 270px;

    mat-label {
      color: white;
    }
  }
}
