// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$film-angular-primary: mat-palette($mat-indigo);
$film-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$film-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$film-angular-theme: mat-light-theme(
  (
    color: (
      primary: $film-angular-primary,
      accent: $film-angular-accent,
      warn: $film-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($film-angular-theme);

/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 15px;
  height: 15px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 150px;
  left: 40%;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid !important;
  border-radius: 0px 30px 0px 0px !important;
  color: white !important;
  width: 270px;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
  color: white !important;
}
.mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: aliceblue;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  top: 50%;
  left: -1.5%;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next {
  cursor: pointer;
  top: 50%;
  left: 100%;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
}
.owl-nav button.owl-prev,
.owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  span {
    font-size: 65px;
    color: white;
  }
}
